*.dat
*.log
*.bak
*.vbs
Profiles
Fts
log
*.snap
*.cnf
ScsEnvList
ScsVisu/Groups/DbmPoller/
ScsVisu/Groups/DbmServer/
ScsVisu/Groups/Formulas/
ScsVisu/Animator
ScsVisu/Formulas/Animator
ScsVisu/Scripts/Formulas/Animator
ScsVisu/Scripts/Panels/Gen
ScsVisu/Panels/Gen
Thumbs.db
!scsAlmExt.cnf
!animator.ini
!anstudio.ini
!Arial_Linux.ini
!Arial_MSWin.ini

!Arial_Win_Linux.ini
!Arial_Win_MSWin.ini
!Chinese_Linux.ini
!Chinese_Win_Linux.ini
!Chinese_Win_MSWin.ini